html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.img-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #c6c6c6;
    padding: 8px 10px;
}

.user-icon-img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.logo-img {
    height: 34px;
    width: auto;
    border-radius: 50%;
}

.section {
    padding: 10px 0;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.user-info-with-img-container {
    display: flex;
    height: 35px;
    margin: 5px 5px;
    align-items: center;
}

.logo-img {
}

.artist-name {
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
}

.home-location {
    margin: 0px;
    font-size: 12px;
}

.post-img {
    width: 100%;
}

.interactables-likes-user-comment-container {
    margin: 5px;
}

.interactables {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 0px;
}

.interactable-img {
    width: 24px;
}

.interactable-img:hover,
.interactable-img:focus {
    opacity: 30%;
}

.liked {
    background-color: red;
    border-radius: 10px;
    opacity: 0.7;
    transform: scale(1.1);
}

.bold-text {
    font-weight: bold;
}

#user-name {
}

#comment-text {
}

#number-of-likes {
}

.section {
}

.divider {
    border: 8px solid #c6c6c6;
}